@model IEnumerable<Order>

@{
}
<div style="width:100%" class="mt-2">
    <h4>Purchase history</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>OrderDate</th>
                @*<th>OrderStatus</th>*@
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    @*<td>@order.OrderStatus.StatusName</td>*@
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table">
                                
                                <tr>
                                    <th>Book</th>
                                    <th>Image</th>
                                    <th>Genre</th>
                                    <th>Unit Price(đ)</th>
                                    <th>Total Price</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Book.Title</td>
                                        <td>
                                            <img src="@Url.Content("~/resource/image/" + item.Book.BookCoverUrl)" class="card-img-top" alt="..." style="width:80px;height:100px">
                                        </td>
                                        <td>@item.Book.Genre.GenreName</td>
                                        <td>@item.Book.Price X @item.Quantity</td>
                                        <td>@(item.Book.Price * item.Quantity)đ</td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        Total:
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        @(order.OrderDetail.Select(item => item.Book.Price * item.Quantity).Sum())đ
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>You didn't buy anything <i class="fa-solid fa-face-sad-cry"></i></h5>
    }
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>
</div>



