@model BookStore.Models.DTO.BookDisplayModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">

    <form class="row row-cols-lg-auto g-3 align-items-center mb-5">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Book title</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Book title">
            </div>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Gener</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Genres)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>

    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col">
                    <div class="card mx-3 mb-4" style="width: 18rem;">
                        <img src="@Url.Content("~/resource/image/" + book.BookCoverUrl)" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Price đ</p>
                            <button type="button" onclick="add(@book.Id)" class="btn btn-primary mt-1"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        async function add(bookId) {
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}